__pycache__
.ipynb_checkpoints
*.egg-info
.idea
.DS_Store
.vscode
data
output
.history
*.zip
venv
.coverage
htmlcov
dist/*
.coverage-report
coverage-report
*.prof
*.pkl
*~
build/
*.html
tmp/*
*.o
.coverage
tmp*
*.so
.pytest*
